{% extends 'base.html.twig' %}

{% block title %}Hello ListeEtablissementController!{% endblock %}

{% block body %}

            <!--/Table Liste Cours-->
            <?php require './includes/header.php'; ?>
            <table>
              <thead>
                <tr>
                  <th class="nomTable" colspan="4">Liste des établissements</th>
                </tr>
                <tr>
                  <th colspan="4">
                    <div class="search">
                      <form action="index.php?page=chercheEtablissement" method="POST">
                        <div class="search-box">
                          <input type="text" id="nom" name="nom" class="search-input" placeholder="Recherche..">
                          <i class="fas fa-search search-button"></i>
                        </div>
                        <input type="hidden" name="frmcheche" />
                      </form>
                  </th>
                </tr>

                </div>
                <tr class="titreTable">
                  <th>Etablissements</th>
                  <th>Villes</th>
                  <th>Accès</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                    <td><?= $tblQuery[$i]['nom_etablissement'] ?></td>
                    <td><?= $tblQuery[$i]['ville'] ?></td>
                    <td>
                      <a href="index.php?page=choixEtablissement&etablissement=<?= $tblQuery[$i]['id_etablissement'] ?>">
                        <i class="fa-solid fa-square-plus fa-2x">
                        </i>
                      </a>
                    </td>
                    <td>
                      <a href="index.php?page=updateEtablissement&idEtablissement=<?= $tblQuery[$i]['id_etablissement'] ?>"><i class="fa-solid fa-pen"></i></a>
                      <a href="index.php?page=supprimer&table=etablissement&id=<?= $tblQuery[$i]['id_etablissement'] ?>" onclick="return confirm('Voulez vous vraiment supprimer cette etablissement ?')"><i class="fa-solid fa-trash"></i></a>

                    </td>
                </tr>

              </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="4">
                    <div class="footTable">
                      <div data-pagination="" data-num-pages="numPages()" data-current-page="currentPage" data-max-size="maxSize" data-boundary-links="true"> </div>
                      <button class="buttonTable" type="button" onclick="location.href='index.php?page=choixEtablissement&etablissement'"> Gérer tous les établissements</button>
                      <button class="buttonTable" type="button" onclick="location.href='index.php?page=ajouterEtablissement'"> Ajouter un établissements</button>
                    </div>
                  </td>
                </tr>
              </tfoot>
            </table>

{% endblock %}
