{% extends 'base.html.twig' %}

{% block title %}New Etablissements{% endblock %}

{% block body %}
    <h1>Create new Etablissements</h1>

    {{ include('etablissements/_form.html.twig') }}

    <a href="{{ path('app_etablissements_index') }}">back to list</a>
{% endblock %}
