{% extends 'base.html.twig' %}

{% block title %}Edit Matieres{% endblock %}

{% block body %}
    <h1>Edit Matieres</h1>

    {{ include('matieres/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_matieres_index') }}">back to list</a>

    {{ include('matieres/_delete_form.html.twig') }}
{% endblock %}
